* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}


header button a {
    color: white;
    text-decoration: none;
}

.container {
    margin-top: 90px;
    width: 80%;
    margin: auto;
    overflow: hidden;
}


/* En-tête */
header {
    background: #003366;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    transition: padding 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
    
}

header h1 {
    display: inline;
}

header nav {
    display: inline;
    float: right;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: large;
}
/* Style du logo */
.logo {
    width: 100px; /* Adjust initial size here */
    height: auto;
    vertical-align: middle;
    margin-right: 20px;
    display: inline-block;
    border-radius: 75px;
    transition: width 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}


/* Mise à jour de l'en-tête pour aligner le logo et la navigation */
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.cta-button {
    background: #0066cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.cta-button:hover {
    background: #004c99;
}

#headerTitle{
    color: white;
    text-decoration: none;
    align-content: center;
    align-items: center;
    display: flex;
    transition: 0.5s;
}


#headerTitleText {
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 1; /* Initial opacity */
    visibility: visible; /* Initial visibility */
}


#body{
    height: 10000px;
    background-color: red;
}


.pageMenu{
    transition: font-size 0.3s ease, padding 0.3s ease;
}


/* Section boni */
#knowMore a, #loginFormSmall a{
    color: white;
    text-decoration: none;
}

#student-bonus img {
    position: absolute;
    z-index: -8;
    width: 100%;
}

#bonusText{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#mainBonusText{
    background-color: rgba(255, 255, 255, 0.747);
    width: 30%;
    height: auto;
    margin: 100px;
    border-radius: 30px;
    padding: 20px;

}

#conditions{
    margin-top: 10px;
    font-size: x-small;
}

#knowMore{
    padding: 10px;
    border: none;
    background-color:#0066cc;
    color: white;
    border-radius: 5px;
    margin: 20px
}

#knowMore:hover {
    background-color: #004c99;
    cursor: pointer;
}

#offerTagContainer{
    display: flex;
    justify-content: center;
}

#offerTag{
    border-radius: 5px;
    align-self: center;
    margin-bottom: 20px;

    background-color: #619faa;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h2{
    color: #317581;
}

#offerTag:hover {
    background-color: #218838;
    cursor: pointer;
}

#loginFormSmall{
    background-color: rgba(255, 255, 255, 0.743);
    padding: 50px;
    border-radius: 30px;
    margin: 100px;
}

#bonusText form{
    display: flex;
    flex-direction: column;
}

#bonusText form input{
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #0066cc;
    font-size:medium;
    margin-top: 0px;
}

#bonusText form label{
    font-size: large;
    margin: 10px;
}

#bonusText form button{
    padding: 10px;
    border: none;
    background-color:#0066cc;
    color: white;
    border-radius: 5px;
    margin: 20px;
    font-size: medium;
}

#bonusText form button:hover {
    background-color: #004c99;
    cursor: pointer;
}

/* Services */
#services {
    padding: 40px 0;
    background: #f9f9f9;
}

.services {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#services h2{
    margin-bottom: 50px;
}
.service-item {
    width: 40%;
    height: 100px;
    margin-bottom: 50px;
    background: #fff;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.394);
    text-align: center;
    border: 1px solid #0066cc;
}

#about, #contact {
    margin-bottom: 30px;
}


/* Pied de page */
footer {
    background: #003366;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


a h1 {
    display: inline;
}